@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Arima', cursive;
}
@font-face {
  font-family: 'GameFont';
  src:url('fonts/gameFont.ttf');
}
body {
  background-color: #9BABB8;
}
.game-container {
    width: 100%;
    height: 98vh;
  }
  .CardGame {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  .titleGame {
    text-shadow: 1px 1px 1px white;
    color: #025464;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }
  .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    border: 1px solid #3F72AF;
    box-shadow: 0 0 13px 2px #ccc;
  }
  
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
  }
  
  .snake-head {
    background-color:#5C8984;
    border-radius: 50%;
    box-shadow: 0 0 50px 4px #3F72AF;
  }
  
  .snake-body {
    border: 1px solid #85A389;
    background-color: #DFFFD8;
    border-radius:100%;
    box-shadow: 0 0 50px 4px #3F72AF;
  }
  
  .apple {
    background-color: red;
  }
  
  h1,
  p {
    text-align: center;
  }
  .CounterScore {
    color: white;
    text-shadow: 0 1px 1px black;
  }
  .score {
    position: absolute;
    top: 5rem;
    color: #025464;
  }
  .direction-buttons {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .Arrows_up img {
    margin: 0 -1.5rem;
  }
  .Arrows_down img {
    transform: rotate(180deg);
    margin:  0 -1.5rem;
  }
  .Arrows_left img {
    transform: rotate(270deg);
    margin:  0 -1.5rem;
  }
  .Arrows_right img {
    transform: rotate(90deg);
    margin:  0 -1.5rem;
  }
  .cell.bomb {
    background-color: black;
  }
  
  .direction-buttons button {
    box-shadow: 3px 2px 5px 3.5px #025464;
    display: flex;
    background-color: #DFFFD8;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1.5rem;
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: 1rem;
    border: 1px solid #9BABB8;
    border-radius: 7px;
  }
  /*
  .Arrows {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
position: absolute;
right: 1.2rem;
  }
  */
.game-over {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  background-color: #3C486B;
  width: 23rem;
  top: 8rem;
  height: 25rem;
  border-radius: 10px;
  font-family:'GameFont' , sans-serif ;
}


.GameOver {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px black;
}
.BtnPlayAgain {
  font-family: 'Press Start 2P', cursive;
  padding: 1.1rem 0;
  border-radius: 7px;
  background-color: #F45050;
  color: white;
  margin: 0 1.2rem;
  border: 2px solid black;
  box-shadow: 0 0 3px 2px white;
}
