@import url('https://fonts.googleapis.com/css2?family=Arima:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Arima', cursive;
}
:root {
  --white : white;
  --black : black;
  --green-principal :#025464; 
  --red :red;
  --red-principal :#F45050;
  --red-health-bar :rgba(255, 0, 0, 0.5);
  --ccc :#ccc;
  --blue-cyan :#3F72AF;
  --body : #9BABB8;
}
@font-face {
  font-family: 'GameFont';
  src:url('fonts/gameFont.ttf');
}
body {
  background-color: var(--body);
}
.game-container {
    width: 100%;
    height: 100vh;
  }
  .CardGame {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    margin-top: 4rem;
  }
  .titleGame {
    text-shadow: 1px 1px 1px var(--white);
    color: var(--green-principal) ;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
  }
  .grid {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    border: 1px solid var(--blue-cyan);
    box-shadow: 0 0 13px 2px var(--ccc);
  }
  
  .cell {
    width: 20px;
    height: 20px;
    border: 1px solid var(--ccc);
  }
  
  .snake-head {
    background-color:#5C8984;
    border-radius: 50%;
    box-shadow: 0 0 50px 6px var(--blue-cyan);
  }
  
  .snake-body {
    border: 1px solid #85A389;
    background-color: #DFFFD8;
    border-radius:100%;
    box-shadow: 0 0 50px 6px var(--blue-cyan);
  }
  
  .apple {
    background-color: var(--red);
  }
  
  h1,
  p {
    text-align: center;
  }
  .CounterScore {
    color: var(--white);
    text-shadow: 0 1px 1px var(--black);
  }
  .score {
    position: absolute;
    top: 5rem;
    color: var(--green-principal);
  }
  .direction-buttons {
    margin-top: -.3rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .Arrows_up img {
    margin: 0 -1.5rem;
  }
  .Arrows_down img {
    transform: rotate(180deg);
    margin:  0 -1.5rem;
  }
  .Arrows_left img {
    transform: rotate(270deg);
    margin:  0 -1.5rem;
  }
  .Arrows_right img {
    transform: rotate(90deg);
    margin:  0 -1.5rem;
  }
  .cell.bomb {
    border-radius: 50%;
    background-color: var(--black);
    box-shadow: 0 0 5px 2px var(--white);
  }
  
  .direction-buttons button {
    box-shadow: 3px 2px 5px 3.5px var(--green-principal);
    display: flex;
    background-color: #DFFFD8;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 1.5rem;
    width: 3rem;
    height: 3rem;
    position: relative;
    bottom: 1rem;
    border: 1px solid #9BABB8;
    border-radius: 7px;
  }
  /*
  .Arrows {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
position: absolute;
right: 1.2rem;
  }
  */
.game-over {
  color: var(--white);
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-around;
  background-color: #3C486B;
  width: 23rem;
  top: 14rem;
  height: 25rem;
  border-radius: 10px;
  font-family:'GameFont' , sans-serif ;
}


.GameOver {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px var(--black);
}
.BtnPlayAgain {
  font-family: 'Press Start 2P', cursive;
  padding: 1.1rem 0;
  border-radius: 7px;
  background-color: var(--red-principal);
  color: var(--white);
  margin: 0 1.2rem;
  border: 2px solid var(--black);
  box-shadow: 0 0 3px 2px var(--white);
}
.highest-score {
  position: absolute;
  top: 5rem;
  right: .3rem;
  color:var(--green-principal);
}
.highest-score span {
  color: var(--red-principal);
  text-shadow: 0 0 1px var(--black);
}
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.health-bar {
  width: 98.6%;
  height: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 8rem;
  border: 2px solid var(--white);
}

.health-bar-inner {
  height: 100%;
  background-color: green;
  transition: width 0.3s ease-in-out;
}
.lowCas-health .health-bar-inner {
  background-color: rgba(0, 128, 0, 0.705);
  }
  .medium-health .health-bar-inner {
    background-color: yellow;
  }
  .lowred-health .health-bar-inner {
    background-color: var(--red);
  }
.low-health .health-bar-inner {
  background-color: var(--red-health-bar);
}

